<h1>Welcome to the Back End!</h1>

<p>Backend page for Burning Airlines. You can create, edit and destroy:</p>
<ul>
  <li>Airplanes</li>
  <li>Flights</li>
  <li>Users</li>
</ul>

<p>We'll see if I have time to impliment a login system</p>
