<h1>Welcome to the Burning Airlines Control Panel</h1>

<p>Backend page for Burning Airlines. You can create, edit and destroy:</p>
<ul>
  <li>Airplanes</li>
  <li>Flights</li>
  <li>Users</li>
</ul>
